.nav {
  border-bottom: 1px solid #c4c4c4;
  padding: 0 104px;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__content_logo {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 30px 0 26px 0;
  background-color: transparent;
  border: none;
  color: white;
  transition: opacity 0.3s ease-in-out;
}

.nav__content_logo:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 42px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav__item {
  list-style-type: none;
}

.nav__links_home {
  margin: 0;
  color: white;
  background: transparent;
  border: none;
  transition: opacity 0.3s ease-in-out;
}

.nav__links_home:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__links_home::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 68px;
  height: 3px;
  background-color: white;
}

.nav__links_login {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0;
  width: 176px;
  height: 48px;
  transition: opacity 0.3s ease-in-out;
}

.nav__links_login:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__links_profile {
  background: transparent;
  color: #b6bcbf;
  border: none;
  border-radius: 100px;
  padding: 0 12px 0 12px;
  height: 48px;
  transition: opacity 0.3s ease-in-out;
}

.nav__links_profile:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__links_logout {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0 12px 0 12px;
  height: 48px;
  transition: opacity 0.3s ease-in-out;
}

.nav__links_logout:hover {
  cursor: pointer;
  opacity: 70%;
}

.logout-icon {
  padding-left: 12px;
  vertical-align: middle;
}

.nav__links_mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav {
    padding: 0 40px;
  }
  .nav__links {
    font-size: 16px;
  }

  .nav__links_login {
    width: 152px;
  }
}

@media screen and (max-width: 750px) {
  .nav {
    padding: 0 16px;
  }

  .nav__content_logo {
    font-size: 16px;
  }

  .nav__links_desktop {
    display: none;
  }

  .nav__links_mobile {
    display: flex;
    background-image: url(../../assets/mobile-menu.png);
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    transition: opacity 0.3s ease-in-out;
  }

  .nav__links_mobile:hover {
    cursor: pointer;
    opacity: 70%;
  }
}
