.nav {
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  padding: 0 104px;
}

.nav__content_desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__content-logo {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 30px 0 26px 0;
  background-color: transparent;
  border: none;
  color: white;
  transition: opacity 0.3s ease-in-out;
}

.nav__content-logo:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__content-logo_saved-news {
  color: rgba(26, 27, 34, 1);
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 42px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav__item {
  list-style-type: none;
}

.nav__links-home {
  margin: 0;
  color: white;
  background: transparent;
  border: none;
  transition: opacity 0.3s ease-in-out;
}

.nav__links-home_saved-news {
  color: rgba(26, 27, 34, 1);
}

.nav__links-home:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__links-home::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 68px;
  height: 3px;
  background-color: white;
}

.nav__links-login {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0;
  width: 176px;
  height: 48px;
  transition: opacity 0.3s ease-in-out;
}

.nav__links-login:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__links-profile {
  background: transparent;
  color: #b6bcbf;
  border: none;
  border-radius: 100px;
  padding: 0 12px 0 12px;
  height: 48px;
  transition: opacity 0.3s ease-in-out;
}

.nav__links-profile:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__links-profile_saved-news {
  color: rgba(26, 27, 34, 1);
}

.nav__links-logout {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0 12px 0 12px;
  height: 48px;
  transition: opacity 0.3s ease-in-out;
}

.nav__links-logout:hover {
  cursor: pointer;
  opacity: 70%;
}

.nav__links-logout_saved-news {
  color: rgba(26, 27, 34, 1);
  border: 1px solid rgba(26, 27, 34, 1);
}

.logout-icon {
  padding-left: 12px;
  vertical-align: middle;
}

.nav__links_mobile-btn {
  display: none;
}

.nav__content_mobile-modal {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__links {
    font-size: 16px;
  }

  .nav__links_login {
    width: 152px;
  }
}

@media screen and (max-width: 750px) {
  .nav {
    padding: 0 16px;
  }

  .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 27, 34, 0.6);
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  .nav__overlay--open {
    opacity: 1;
    pointer-events: auto;
  }

  .nav__content-logo {
    font-size: 16px;
  }

  .nav__links_desktop {
    display: none;
  }

  .nav__links_mobile-btn {
    display: flex;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    transition: opacity 0.3s ease-in-out;
  }

  .nav__links_mobile-btn:hover {
    cursor: pointer;
    opacity: 70%;
  }

  .nav__links_mobile-btn_home {
    background-image: url(../../assets/mobile-menu.png);
  }

  .nav__links_mobile-btn_news {
    background-image: url(../../assets/mobile-menu-saved-news.png);
  }

  .nav__content_mobile-modal {
    display: block;
    background-color: #1a1b22;
    width: 100%;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .nav__content_mobile-modal--open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .nav__content_mobile-modal_logged-in {
    height: 308px;
  }

  .nav__header-mobile {
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .nav__content-logo_mobile {
    font-size: 16px;
  }

  .nav__links_mobile {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0 16px;
  }

  .nav__item_home {
    align-self: flex-start;
  }

  .nav__links-home_mobile {
    line-height: 56px;
  }

  .nav__links-home::after {
    display: none;
  }

  .nav__item_logout {
    height: 56px;
  }

  .nav__item_profile {
    line-height: 56px;
  }

  .nav__mobile-menu_modal-close-btn {
    background-image: url(../../assets/modal-close.svg);
    background-color: transparent;
    background-size: cover;
    height: 24px;
    width: 24px;
    border: none;
    transition: opacity 0.3s ease-in-out;
    padding: 0;
  }

  .nav__mobile-menu_modal-close-btn:hover {
    cursor: pointer;
    opacity: 70%;
  }
  .nav__links-login {
    width: 288px;
  }
}
