.news__home {
  padding: 0 0 64px 0;
}

.news-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 16px;
  justify-content: center;
  margin: 0;
}

.news__saved-news {
  background-color: #f5f6f7;
  padding: 62px 102px;
}

@media screen and (max-width: 1130px) {
  .news-card-list {
    grid-template-columns: repeat(auto-fit, 224px);
    gap: 8px;
    padding: 0 0 32px 0;
  }
}

@media screen and (max-width: 550px) {
  .news-card-list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 10px;
    padding: 0 0 16px 0;
  }
}
