.form__fieldset {
  border: none;
  max-width: 385px;
  height: 47px;
  padding: 0;
  margin: 0 0 31px 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color: rgba(47, 113, 229, 1);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 9px;
}

.form__input {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 1);
}

.form__input::placeholder {
  opacity: 20%;
}

.form-modal__secondary-button_text {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.form-modal__secondary-button {
  border: none;
  background-color: transparent;
  color: rgba(47, 113, 229, 1);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.3s ease-in-out;
}

.form-modal__secondary-button:hover {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.form__input-error {
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  padding-top: 3px;
}

.form__input-error_register-email {
  align-self: center;
  padding-top: 12px;
}

@media screen and (max-width: 550px) {
  .form__fieldset {
    margin: 0 16px 30px 16px;
    max-width: 100%;
  }
}
